@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url(../img/background.jpg);
    padding: 0px 160px;
    font-family: 'Montserrat';
}

header {
    padding: 5px 0;
    background-color: #B0BC42;
    box-sizing: border-box;
}

.flex {
    display: flex;
 
}

.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.listheader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.listheader a {
    font-size: 16px;
    color: #221505;
}

main {
    background-color: #f8ecd5;
}

ul {
    list-style: none;
}

a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

.wrapper {
    padding: 0px 50px;
}

.banner img{
    width: 100%;
}

.tovar_list {
    padding: 10px 0px;
    background-color: #e0ce93;
}

.tovar_list a {
    font-size: 20px;
    color: #2b1802;
}

.tovar_main {
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    width: 250px;
    padding: 20px 10px;
}

.tovar img {
    max-width: 250px;
    padding-bottom: 6px;
}

.tovar_info {
    display: flex;
    align-items: center;
    padding-top: 10px;
    gap: 57px;
}

.tovarlogo {
    font-size: 20px;
    color: black;
}

.tovar_info p {
    font-size: 17px;
    color: #6C8B08;
}

.tovar_info .nope {
    color: rgb(177, 32, 32);
}
.kartca {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.black {
display: none;
  position: fixed;
  inset: 0;
  opacity: 0.6;
  background: #000;
  z-index: 1;
}

.bc {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 500px;
    padding:  45px 30px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: #fff;
    opacity: 1;
    z-index: 2;
}

.bc img {
    width: 420px;
    height: 420px;
}

.kartca_info {
    padding: 20px 25px;
}

.nazva {
    font-size: 31px;
    font-weight: 400;
    padding-bottom: 35px;
}

.price {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 45px;
}

.info {
    padding-top: 20px;
}

.info li {
    padding-top: 10px;
}

.canel svg {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 4%;
    right: 3%;
}

.kartca_info a {
    position: absolute;
    bottom: 7%;
    right:3%;
    padding: 12px 36px;
    color: #fff;
    background-color: #3d3b50;
}

footer {
    padding: 5px 0;
    background-color: #D5A007;
}

.sos {
    display: flex;
   align-items: center;
   gap: 10px;
}