@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
}

html{
    font-size: 1px;
}

body {
    position: relative;
    background-image: url(../img/background.jpg);
    padding: 0rem 12%;
    font-family: 'Montserrat';
}

header {
    padding: 5rem 0;
    background-color: #B0BC42;
    box-sizing: border-box;
}

.flex {
    display: flex;
 
}

.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flexus {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
}

.listheader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15rem;
}

.listheader a {
    padding: 10rem;
    font-size: 16rem;
    color: #221505;
}

.listheader li {
    padding: 10rem;
}
main {
    background-color: #f8ecd5;
}

ul {
    list-style: none;
}

a {
    font-size: 16rem;
    line-height: 18rem;
    text-decoration: none;
}

.wrapper {
    padding: 0rem 50rem;
}

.banner img{
    width: 100%;
}

.tovar_list {
    padding: 10rem 0rem;
    background-color: #e0ce93;
}

.tovar_list a {
    font-size: 20rem;
    color: #2b1802;
}

.tovar_list a:hover {
    color: #4d771c;
}

.tovar_info h3 {
    font-size: 20rem;
}
.tovar_main {
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    width: 250rem;
    padding: 20rem 10rem;
}

.tovar img {
    max-width: 250rem;
    padding-bottom: 6rem;
}

.tovar_info {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    gap: 57rem;
}

.tovarlogo {
    font-size: 20rem;
    color: black;
}

.tovar_info p {
    font-size: 17rem;
    color: #6C8B08;
}

.tovar_info .nope {
    color: rgb(177, 32, 32);
}
.kartca {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.black  , .dark{
    display: none;
    position: fixed;
    inset: 0;
    opacity: 0.6;
    background: #000;
    z-index: 1;
}

.bc {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950rem;
    height: 500rem;
    padding:  45rem 30rem;
    box-sizing: border-box;
    border-radius: 9rem;
    background-color: #fff;
    opacity: 1;
    z-index: 2;
}

.bc img {
    width: 420rem;
}

.kartca_info {
    padding: 20rem 25rem;
}

.nazva {
    font-size: 31rem;
    font-weight: 400;
    padding-bottom: 35rem;
}

.price {
    font-size: 25rem;
    font-weight: 500;
    padding-bottom: 45rem;
}

.info {
    padding-top: 20rem;
}

.info li {
    padding-top: 10rem;
}

.canel svg {
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 4%;
    right: 3%;
}

.kartca_info a {
    position: absolute;
    bottom: 7%;
    right:3%;
    padding: 12rem 36rem;
    color: #fff;
    background-color: #669d0b;
}

footer {
    padding: 5rem 0;
    background-color: #D5A007;
}

.sos {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.sos svg {
    fill: #221505;
}

.sos svg:hover {
    fill: #355a0b;
}

.none {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20rem;
    height: 300rem;
}

.none img {
    width: 250rem;
}

.none p {
    font-size: 20rem;
    color: #221505;
}

 @media screen  and (min-width: 280px){
html {
    font-size: .3px;
}

   body {
        padding: 0rem 0%;
    }

    .cancelheader {
        position: fixed;
        top: 3%;
        right: 3%;
    }

    .info {
        font-size: 40rem;
        padding-top: 20rem;
    }

    .listheader {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-color: #B0BC42;
        z-index: 2;
    }
          

    .listheader ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 10%;
        right: 0%;
        padding: 10rem 5rem;
        z-index: 3;
                gap: 30rem;
    }

    .listheader li {
        padding-top: 30rem;
    }

    .listheader a {
        font-size: 50rem;
    }

    .soc {
        display: flex;
        flex-direction: column;
        padding-top:20rem ;
    }

    .soss {
        padding-bottom: 130%;
    }

     .tovar_info {
                font-size: 30rem;
                display: flex;
                align-items: center;
                padding-top: 10rem;
                gap: 57rem;
            }

    .tovar {
        /* width: 250rem; */
        width: 70%;
        padding: 30rem 10rem;
    }

    .tovar img {
        /* max-width: 250rem; */
        max-width: 100%;
        padding-bottom: 6rem;
    }

.tovarlogo {
        font-size: 60rem;
        color: black;
        padding-bottom: 20rem;
    }
    .tovar_info {
        font-size: 27rem;
        display: flex;
        align-items: center;
        padding-top: 10rem;
        gap: 57rem;
    }

.tovar_info p {
        font-size: 40rem;
        color: #6C8B08;
    }

.flexus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 65rem;
    }

.tovar_info h3 {
    font-size: 50rem;
}

.tovar_list {
    padding: 50rem 0rem;
    background-color: #e0ce93;
}
.tovar_list a {
    font-size: 60rem;
    color: #2b1802;
}

.preddata {
    padding: 30rem;
    font-size: 60rem;
    font-weight: 500;
    text-align: center;
}

.canel svg {
    fill: white;
    position: absolute;
    width: 65rem;
    height: 65rem;
    top: -6%;
    right: 5%;
}

    .bc {
        position: fixed;
        top: 50%;
        /* display: flex; */
        width: 100%;
         height: 1900rem;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
}


.nazva {
        font-size: 65rem;
        font-weight: 400;
        padding-bottom: 25rem;
    }


.bc img {
    width: 100%;
}
.nazva {
        font-size: 65rem;
        font-weight: 400;
        padding-bottom: 25rem;
    }

.price {
        font-size: 65rem;
        font-weight: 500;
        padding-bottom: 25rem;
    }

.kartca_info a {
    /* width: 88%; */
    left: 30rem;
    right: 30rem;
    bottom: 30rem;
    padding: 55rem;
    text-align: center;
    font-size: 45rem;
    border-radius: 15rem;
}

.info {
    font-size: 50rem;
    padding-top: 10rem;
}
          


 @media screen  and (min-width: 422px){
html {
    font-size: .6px;
}

.preddata {
    padding: 30rem;
    font-size: 40rem;
    font-weight: 500;
    text-align: center;
}

    body {
        padding: 0rem 0%;
    }

    .cancelheader {
        position: fixed;
        top: 3%;
        right: 3%;
        
    }
    .listheader {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-color: #B0BC42;
        z-index: 2;
    }
          

    .listheader ul{
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 10%;
        right: 4%;
        padding: 10rem 5rem;
        z-index: 3;
    }

    .listheader li {
        padding-top: 30rem;
    }

    .listheader a {
        font-size: 30rem;
    }

    .soc {
        display: flex;
        flex-direction: column;
        padding-top:20rem ;
    }

    .soss {
        padding-bottom: 130%;
    }

     .tovar_info {
                font-size: 30rem;
                display: flex;
                align-items: center;
                padding-top: 10rem;
                gap: 57rem;
            }

    .tovar {
        /* width: 250rem; */
        width: 70%;
        padding: 30rem 10rem;
    }

    .tovar img {
        /* max-width: 250rem; */
        max-width: 100%;
        padding-bottom: 6rem;
    }

    .tovarlogo {
        font-size: 30rem;
        color: black;
        padding-bottom: 10rem;
    }
    .tovar_info {
        font-size: 27rem;
        display: flex;
        align-items: center;
        padding-top: 10rem;
        gap: 57rem;
    }

    .tovar_info p {
        font-size: 35rem;
        color: #6C8B08;
    }

    .flexus {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25rem;
}

.tovar_list {
    padding: 20rem 0rem;
    background-color: #e0ce93;
}
.tovar_list a {
    font-size: 30rem;
    color: #2b1802;
}

    .bc {
        position: fixed;
        top: 50%;
        /* display: flex; */
        width: 100%;
        height: 80%;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
.canel svg {
    position: absolute;
    width: 55rem;
    height: 55rem;
    right: 3%;
    fill: #ffffff;
}


.bc img {
    width: 100%;
}
.nazva {
        font-size: 45rem;
        font-weight: 400;
        padding-bottom: 25rem;
    }

    .price {
        font-size: 45rem;
        font-weight: 500;
        padding-bottom: 25rem;
    }

     .kartca_info a {
        width: 88%;
        bottom: 30rem;
        padding: 25rem;
        text-align: center;
        font-size: 30rem;
    }

.info {
    font-size: 25rem;
    padding-top: 10rem;
    overflow-wrap: anywhere;
}
}

@media screen  and (min-width: 640px){
    html {
        font-size: 1px;
    }
      .tovar_list {
        padding: 10rem 0rem;
        background-color: #e0ce93;
}

.tovar_info h3 {
    font-size: 20rem;
}

.tovar_list a {
    font-size: 20rem;
    color: #2b1802;
}

.tovar_list a:hover {
    color: #4d771c;
}

.tovar_main {
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    width: 250rem;
    padding: 20rem 10rem;
}

.tovar img {
    max-width: 250rem;
    padding-bottom: 6rem;
}

.tovar_info {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    gap: 5zrem;
}

.tovarlogo {
    font-size: 20rem;
    color: black;
}

.tovar_info p {
    font-size: 12rem;
    color: #6C8B08;
}

.tovar_info .nope {
    color: rgb(177, 32, 32);
}

.preddata {
    padding: 30rem;
    font-size: 30rem;
    font-weight: 500;
    text-align: center;
}


    .bc {
        position: fixed;
        top: 55%;
        /* display: flex; */
        width: 90%;
        height: 90%;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }

.nazva {
        font-size: 35rem;
        font-weight: 400;
        padding-bottom: 25rem;
    }


.price {
        font-size: 25rem;
        font-weight: 500;
        padding-bottom: 15rem;
    }

    .kartca_info a {
        /* width: 38%; */
        bottom: 30rem;
        left: 15rem;
        /* right: 30rem; */
        padding: 15rem;
        text-align: center;
        font-size: 30rem;
    }
}
        
@media screen  and (min-width: 768px){
    html {
        font-size: .9px;
    }

    .preddata {
    padding: 30rem;
    font-size: 30rem;
    font-weight: 500;
    text-align: center;
}
    .tovar_list {
    padding: 10rem 0rem;
    background-color: #e0ce93;
}

.tovar_list a {
    font-size: 20rem;
    color: #2b1802;
}

.tovar_list a:hover {
    color: #4d771c;
}

.tovar_main {
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    width: 250rem;
    padding: 20rem 10rem;
}

.tovar img {
    max-width: 250rem;
    padding-bottom: 6rem;
}

.tovar_info {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    gap: 57rem;
}

.tovarlogo {
    font-size: 20rem;
    color: black;
}

.tovar_info p {
    font-size: 17rem;
    color: #6C8B08;
}

.tovar_info .nope {
    color: rgb(177, 32, 32);
}

.bc { 
        top: 52%;
        display: flex;
        width: 65%;
        height: 90%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nazva {
        font-size: 35rem;
        font-weight: 400;
        padding-bottom: 15rem;
    }

    .price {
        font-size: 35rem;
        font-weight: 500;
        padding-bottom: 15rem;
}

    
    .kartca_info a {
        /* width: 38%; */
        bottom: 30rem;
        left: 25rem;
        /* right: 30rem; */
        padding: 15rem;
        text-align: center;
        font-size: 30rem;
    }
}




@media screen  and (min-width: 1024px){
    html {
        font-size: 1px;
    }

body {
    position: relative;
    background-image: url(../img/background.jpg);
    padding: 0rem 12%;
    font-family: 'Montserrat';
}
        .listheader {
            position: relative;
            right: 0;
            top: 0;
            z-index: 2;
    }
          

    .listheader ul{
        position:relative;
        display: flex;
        flex-direction: row;
        padding: 10rem 5rem;
        z-index: 1;
        gap: 1px;
    }

    .listheader li {
        padding-top: 30rem;
    }

    .listheader a {
        font-size: 40rem;
    }

    .burger {
        display: none;
    }

    .listheader {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;
        z-index: 1;
}

.listheader a {
    padding: 10rem;
    font-size: 16rem;
    color: #221505;
}

.listheader li {
    padding: 10rem;
}
    .tovar_list {
        padding: 10rem 0rem;
        background-color: #e0ce93;
}

.soc, .cancelheader {
    display: none;
}
.tovar_list a {
    font-size: 20rem;
    color: #2b1802;
}

.tovar_list a:hover {
    color: #4d771c;
}

.tovar_main {
    flex-wrap: wrap;
    justify-content: center;
}

.tovar {
    width: 250rem;
    padding: 20rem 10rem;
}

.tovar img {
    max-width: 250rem;
    padding-bottom: 6rem;
}

.tovar_info {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    gap: 57rem;
}

.tovarlogo {
    font-size: 20rem;
    color: black;
}

.tovar_info p {
    font-size: 17rem;
    color: #6C8B08;
}

.tovar_info .nope {
    color: rgb(177, 32, 32);
}

.bc {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 850rem;
    height: 400rem;
    padding:  25rem 30rem;
    box-sizing: border-box;
    border-radius: 9rem;
    background-color: #fff;
    opacity: 1;
    z-index: 2;
}

.bc img {
    width: 350rem;
}

.kartca_info {
    padding: 20rem 25rem;
}

.info {
    padding-top: 20rem;
}

.info li {
    padding-top: 10rem;
}

.canel svg {
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 4%;
    right: 3%;
}

    .kartca_info a {
        position: absolute;
        bottom: 7%;
        left: 585rem;
        padding: 10rem 26rem;
        color: #fff;
        background-color: #669d0b;
        text-align: center;
        font-size: 15rem;
        width: 20%;
    }

.kartca_info {
    padding: 20rem 25rem;
}

.nazva {
    font-size: 25rem;
    font-weight: 400;
    padding-bottom: 25rem;
}

    .price {
        font-size: 29rem;
        font-weight: 500;
        padding-bottom: 25rem;
    }

.info {
    width: 400rem;
    font-size: 15rem;
    padding-top: 20rem;
}

.info li {
    padding-top: 10rem;
}

.canel svg {
    fill: #2b1802;
    position: absolute;
    width: 35rem;
    height: 35rem;
    top: 4%;
    right: 3%;
}

}

@media screen  and (min-width: 1200px){
    html {
        font-size: 1.1px;
    }


}

@media screen  and (min-width: 1920px){
    html {
        font-size: 1.5px;
    }
}

@media screen  and (min-width: 2200px){
    html {
        font-size: 1.7px;
    }
}
